
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <h1 >
    Liste des utilisateurs
  </h1>

  <div class="table-container">
<table style="width: 170%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="ID">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{getRowNumber(i)}} </td>
  </ng-container>


  <ng-container matColumnDef="nom">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef>
      <div contenteditable="true" id="column-nom" (input)="onFilterInput($event, 'nom')" #headerContent> Nom </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>


  <ng-container matColumnDef="prenom">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef>  <div contenteditable="true" id="column-prenom" (input)="onFilterInput($event, 'prenom')" #headerContent> Prénom </div> </th>
    <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef>  <div contenteditable="true" id="column-email" (input)="onFilterInput($event, 'email')" #headerContent> Email </div> </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef>  <div contenteditable="true" id="column-username" (input)="onFilterInput($event, 'username')" #headerContent> Username </div> </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef>  <div contenteditable="true" id="column-role" (input)="onFilterInput($event, 'role')" #headerContent> Role </div> </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <ng-container  matColumnDef="edit">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef> Modif
    <td  mat-cell *matCellDef="let i">
    <ng-template #content let-modal>
      <div class="mat-dialog-container">
        <div class="modal-header">
          <div class="dialog-title">Modifier utilisateur</div>
          <button class="btn-close" aria-label="Close" (click)="modal.dismiss()" >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="dialog-body">
          <form [formGroup]="updateUserForm">
            <div class="row">

              <div  class="col-md-11">
                <div style="margin-left: 20px" class="form-group">
                  <label style="color:midnightblue ;font-family: Bahnschrift" class="label" for="name">Nom de l'utilisateur</label>
                  <input formControlName="nom" type="text" class="form-control" name="name" id="name" placeholder="Nom ">
                </div>
              </div>


              <div  class="col-md-11">
                <div style="margin-left: 20px" class="form-group">
                  <label style="color:midnightblue ;font-family: Bahnschrift" class="label" for="prenom">Prénom de l'utilisateur</label>
                  <input formControlName="prenom" type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom">
                </div>
              </div>


              <div  class="col-md-11">
                <div style="margin-left: 20px" class="form-group">
                  <label style="color:midnightblue ;font-family: Bahnschrift" class="label" for="email">Email de l'utilisateur</label>
                  <input formControlName="email" type="text" class="form-control" name="email" id="email" placeholder="Email">
                </div>
              </div>



              <div  class="col-md-11">
                <div style="margin-left: 20px" class="form-group">
                  <label style="color:midnightblue ;font-family: Bahnschrift" class="label" for="username">Username</label>
                  <input formControlName="username" type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
              </div>


              <div class="col-md-11">
                <div style="margin-left: 20px" class="form-group">
                  <label style="color: midnightblue; font-family: Bahnschrift" class="label" for="role">Role</label>
                  <select formControlName="role" class="form-control" name="role" id="role" >
                    <!-- 'ADMIN' option -->
                    <option  value="ADMIN">ADMIN</option>
                    <!-- 'USER' option -->
                    <option value="USER">USER</option>
                  </select>
                </div>
              </div>


              <br>

            </div>
          </form>
        </div>
        <br>
        <br>
        <div class="dialog-footer">
          <button class="btn btn-outline-dark" (click)="update(i.id);modal.dismiss()" c>Save</button>
        </div>
      </div>
    </ng-template>

      <button style="position:relative;bottom:30px"  mat-icon-button class="removeCart" (click)="open(content)">
        <hr>
        <pre >{{ closeResult }}</pre>
        <mat-icon>edit</mat-icon>
      </button>

    </td>
  </ng-container>
  <ng-container  matColumnDef="suppression">
    <th style="color: white;font-family: Bahnschrift"  mat-header-cell *matHeaderCellDef >Suppression</th>
    <td mat-cell *matCellDef="let element ">
      <button (click)="deleteUser(element['id'])" mat-icon-button class="removeCart"  >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row  class="HEADER1" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div style="position: relative; left: 350px;">
    <mat-paginator
      #paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"

      (page)="pageChanged($event)"
      aria-label="Select page"


      showFirstLastButtons
    >
    </mat-paginator>
  </div>
